<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.thegoncharov.authwatch"
    android:versionCode="28"
    android:versionName="2.21.8">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <uses-permission android:name="com.sonyericsson.extras.liveware.aef.EXTENSION_PERMISSION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--<uses-permission android:name="com.sony.smallapp.permission.SMALLAPP" />-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->


    <application
        android:label="@string/authwatch"
        android:icon="@drawable/ic_launcher_authenticator"
        android:theme="@style/AuthenticatorTheme"
        android:name="com.google.android.apps.authenticator.AuthenticatorApplication"
        android:allowBackup="false">

        <!--<uses-library
            android:name="com.sony.smallapp.framework"
            android:required="false" />
        <uses-library
            android:name="com.sonymobile.smallapps.legacy"
            android:required="false" />-->

        <activity
            android:name="com.google.android.apps.authenticator.AuthenticatorActivity"
            android:label="@string/app_name_short"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="otpauth" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.google.android.apps.authenticator.SettingsAboutActivity"
            android:label="@string/about_preference_screen_title" />

        <activity
            android:name="com.google.android.apps.authenticator.AddOtherAccountActivity"
            android:label="@string/add_account_menu_item" />

        <activity
            android:name="com.google.android.apps.authenticator.EnterKeyActivity"
            android:label="@string/enter_key_title" />

        <activity
            android:name="com.google.android.apps.authenticator.CheckCodeActivity"
            android:label="@string/check_code_title" />

        <activity
            android:name="com.google.android.apps.authenticator.SettingsActivity"
            android:label="@string/main_preference_screen_title" />

        <activity
            android:name="com.google.android.apps.authenticator.howitworks.IntroEnterPasswordActivity"
            android:theme="@style/AuthenticatorTheme.NoTitleBar"
            android:label="@string/howitworks_page_enter_password_title" />

        <activity
            android:name="com.google.android.apps.authenticator.howitworks.IntroEnterCodeActivity"
            android:theme="@style/AuthenticatorTheme.NoTitleBar"
            android:label="@string/howitworks_page_enter_code_title" />

        <activity
            android:name="com.google.android.apps.authenticator.howitworks.IntroVerifyDeviceActivity"
            android:theme="@style/AuthenticatorTheme.NoTitleBar"
            android:label="@string/howitworks_page_verify_device_title" />

        <activity
            android:name="com.google.android.apps.authenticator.timesync.SettingsTimeCorrectionActivity"
            android:label="@string/timesync_preference_screen_title" />

        <activity
            android:name="com.google.android.apps.authenticator.timesync.AboutActivity"
            android:theme="@style/AuthenticatorTheme.NoTitleBar"
            android:label="@string/timesync_about_feature_screen_title" />

        <activity
            android:name="com.google.android.apps.authenticator.timesync.SyncNowActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/timesync_sync_now_screen_title" />

        <service android:name="ru.thegoncharov.authwatch.AuthWatchService" />

        <!--<service
            android:name="ru.thegoncharov.authwatch.AuthWatchSmallApp"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sony.smallapp.intent.action.MAIN" />
                <action android:name="com.sony.smallapp.SmallApplication" />

                <category android:name="com.sony.smallapp.intent.category.LAUNCHER" />
            </intent-filter>
        </service>-->

        <receiver android:name="ru.thegoncharov.authwatch.AuthWatchReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="com.sonyericsson.extras.liveware.aef.registration.EXTENSION_REGISTER_REQUEST" />
                <action android:name="com.sonyericsson.extras.liveware.aef.registration.ACCESSORY_CONNECTION" />

                <action android:name="com.sonyericsson.extras.aef.control.START" />
                <action android:name="com.sonyericsson.extras.aef.control.STOP" />
                <action android:name="com.sonyericsson.extras.aef.control.PAUSE" />
                <action android:name="com.sonyericsson.extras.aef.control.RESUME" />
                <action android:name="com.sonyericsson.extras.aef.control.ERROR" />
                <action android:name="com.sonyericsson.extras.aef.control.KEY_EVENT" />
                <action android:name="com.sonyericsson.extras.aef.control.TOUCH_EVENT" />
                <action android:name="com.sonyericsson.extras.aef.control.SWIPE_EVENT" />

                <action android:name="com.sonyericsson.extras.aef.control.LIST_REFERESH_REQUEST" />
                <action android:name="com.sonyericsson.extras.aef.control.LIST_REQUEST_ITEM" />
                <action android:name="com.sonyericsson.extras.aef.control.LIST_ITEM_CLICK" />
                <action android:name="com.sonyericsson.extras.aef.control.LIST_ITEM_SELECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.PreferencesActivity"
            android:label="@string/authwatch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.AboutActivity">
            <intent-filter>
                <action android:name=".activities.AboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DonationActivity"/>

    </application>

</manifest>
